
<footer>
  <!-- Pied de page -->
  <section class="row">
    <div class="col-md-12" id="pied">
      &copy; Sayan593 - 2017 tous droits réservés - 
      <a href="/contact" class="btn btn-success"> 
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 
        Contact
      </a>
    </div>
  </section>      
  <!-- Fin pied de page -->
</footer>